# Copy to secrets.yml and encrypt with: ansible-vault encrypt secrets.yml
# Usage: ansible-playbook playbook.yml --ask-vault-pass

github_token: "ghp_xxx"

# GitHub CLI hosts.yml content
gh_hosts_yml: |
  github.com:
      users:
          your_username:
              oauth_token: gho_xxx
      git_protocol: ssh
      oauth_token: gho_xxx
      user: your_username

# SSH keys
ssh_private_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  xxx
  -----END OPENSSH PRIVATE KEY-----

ssh_public_key: "ssh-ed25519 xxx"
