---
# Development tools

- name: Install development packages
  community.general.xbps:
    name:
      - python3
      - python3-pip
      - lua
      - luarocks
      - go
      - docker
      - docker-compose
      - terraform
      - ansible
      - shellcheck
      - bash
      - micro
      - zoxide
      - fzf
      - fd
      - eza
      - curl
    state: present
  become: true
  tags: [dev]

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: docker
    append: true
  become: true
  tags: [dev, docker]

- name: Enable docker service
  ansible.builtin.file:
    src: /etc/sv/docker
    dest: /var/service/docker
    state: link
  become: true
  tags: [dev, docker]

- name: Enable containerd service
  ansible.builtin.file:
    src: /etc/sv/containerd
    dest: /var/service/containerd
    state: link
  become: true
  tags: [dev, docker]
