---
- name: Install fish
  community.general.xbps:
    name: fish-shell
    state: present
  become: true
  tags: [fish]

- name: Set fish as default shell
  ansible.builtin.user:
    name: "{{ username }}"
    shell: /bin/fish
  become: true
  tags: [fish]

- name: Create fish config directory
  ansible.builtin.file:
    path: "{{ user_home }}/.config/fish"
    state: directory
    mode: "0755"
  tags: [fish]

- name: Deploy fish config
  ansible.builtin.copy:
    src: fish/config.fish
    dest: "{{ user_home }}/.config/fish/config.fish"
    mode: "0644"
  tags: [fish]
