---
- name: Install lf
  community.general.xbps:
    name: lf
    state: present
  become: true
  tags: [lf]

- name: Create lf config directory
  ansible.builtin.file:
    path: "{{ user_home }}/.config/lf"
    state: directory
    mode: "0755"
  tags: [lf]

- name: Deploy lf config
  ansible.builtin.copy:
    src: lf/lfrc
    dest: "{{ user_home }}/.config/lf/lfrc"
    mode: "0644"
  tags: [lf]
