---
- name: Install VSCode via Nix
  ansible.builtin.shell: |
    . ~/.nix-profile/etc/profile.d/nix.sh
    nix-env -iA nixpkgs.vscode
  args:
    executable: /bin/bash
  changed_when: false
  tags: [vscode]
