---
- name: Check if Nix is installed
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.nix-profile/etc/profile.d/nix.sh"
  register: dotfiles_nix_installed
  tags: [vscode]

- name: Install Nix
  ansible.builtin.shell: |
    set -o pipefail
    curl -L https://nixos.org/nix/install | sh -s -- --no-daemon
  args:
    executable: /bin/bash
  when: not dotfiles_nix_installed.stat.exists
  changed_when: true
  tags: [vscode]

- name: Add nixpkgs stable channel
  ansible.builtin.shell: |
    . ~/.nix-profile/etc/profile.d/nix.sh
    nix-channel --add https://nixos.org/channels/nixpkgs-24.05-darwin nixpkgs
    nix-channel --update
  args:
    executable: /bin/bash
  when: not dotfiles_nix_installed.stat.exists
  changed_when: true
  tags: [vscode]

- name: Install VSCode via Nix
  ansible.builtin.shell: |
    . ~/.nix-profile/etc/profile.d/nix.sh
    nix-env -iA nixpkgs.vscode
  args:
    executable: /bin/bash
  changed_when: false
  tags: [vscode]
