---
- name: Install wezterm via Nix
  ansible.builtin.shell: |
    . ~/.nix-profile/etc/profile.d/nix.sh
    nix-env -iA nixpkgs.wezterm
  args:
    executable: /bin/bash
  changed_when: false
  tags: [wezterm]

- name: Create wezterm config directory
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/wezterm"
    state: directory
    mode: "0755"
  tags: [wezterm]

- name: Copy wezterm config
  ansible.builtin.copy:
    src: wezterm/wezterm.lua
    dest: "{{ ansible_env.HOME }}/.config/wezterm/wezterm.lua"
    mode: "0644"
  tags: [wezterm]
