[Desktop Entry]
Type=Action
Name=Compress to ZIP
Icon=package-x-generic
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=all/allfiles;inode/directory;
Exec=wezterm start sh -c 'filename=$(basename "%f"); zip -r "${filename}.zip" "%f" && echo "\nFinished! Press Enter to close" && read'
Name=Compress to ZIP
