---
# PipeWire audio stack

- name: Install PipeWire and audio tools
  community.general.xbps:
    name:
      - pipewire
      - wireplumber
      - alsa-pipewire
      - libjack-pipewire
      - rtkit
      - pamixer
      - pavucontrol
    state: present
  tags: [audio, pipewire]

- name: Enable PipeWire services
  file:
    src: "/etc/sv/{{ item }}"
    dest: "/var/service/{{ item }}"
    state: link
  loop:
    - rtkit
  tags: [audio, services]
