---
# Base system configuration

- name: Install base packages
  community.general.xbps:
    name:
      - base-system
      - chrony
      - opendoas
      - fontconfig
      - cronie
      - util-linux
      - elogind
      - dbus-elogind
      - polkit-elogind
      - xdg-user-dirs
      - xdg-utils
      - seatd
    state: present
  tags: [base, packages]

- name: Configure doas
  copy:
    content: |
      permit nopass :wheel
      permit nopass {{ username }} as root
    dest: /etc/doas.conf
    mode: '0400'
  tags: [base, doas]

- name: Set timezone
  file:
    src: "/usr/share/zoneinfo/{{ timezone }}"
    dest: /etc/localtime
    state: link
    force: yes
  tags: [base, locale]

- name: Configure locale
  copy:
    content: "{{ locale }}"
    dest: /etc/locale.conf
  tags: [base, locale]

- name: Enable locale in libc-locales
  lineinfile:
    path: /etc/default/libc-locales
    regexp: "^#?{{ locale }}"
    line: "{{ locale }} UTF-8"
  tags: [base, locale]

- name: Regenerate locales
  command: xbps-reconfigure -f glibc-locales
  changed_when: true
  tags: [base, locale]

- name: Set keyboard layout
  copy:
    content: "KEYMAP={{ keymap }}"
    dest: /etc/vconsole.conf
  tags: [base, locale]

- name: Install CPU microcode
  community.general.xbps:
    name: "{{ 'intel-ucode' if cpu_vendor == 'intel' else 'linux-firmware-amd' }}"
    state: present
  tags: [base, microcode]

- name: Create user with groups
  user:
    name: "{{ username }}"
    groups: "{{ user_groups }}"
    append: yes
  tags: [base, user]

- name: Configure XDG user directories
  copy:
    content: |
      XDG_DESKTOP_DIR="$HOME/Desktop"
      XDG_DOWNLOAD_DIR="$HOME/Downloads"
      XDG_TEMPLATES_DIR="$HOME/Templates"
      XDG_PUBLICSHARE_DIR="$HOME/Public"
      XDG_DOCUMENTS_DIR="$HOME/Documents"
      XDG_MUSIC_DIR="$HOME/Music"
      XDG_PICTURES_DIR="$HOME/Pictures"
      XDG_VIDEOS_DIR="$HOME/Videos"
    dest: "{{ user_home }}/.config/user-dirs.dirs"
    owner: "{{ username }}"
    group: "{{ username }}"
  tags: [base, xdg]

- name: Create XDG directories
  file:
    path: "{{ user_home }}/{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
  loop:
    - Desktop
    - Downloads
    - Documents
    - Music
    - Pictures
    - Videos
  tags: [base, xdg]

- name: Configure auto-login on TTY1
  copy:
    content: |
      #!/bin/sh
      [ -d /run/user/$(id -u {{ username }}) ] || {
          mkdir -p /run/user/$(id -u {{ username }})
          chown {{ username }}:{{ username }} /run/user/$(id -u {{ username }})
          chmod 0700 /run/user/$(id -u {{ username }})
      }
      exec /sbin/agetty --autologin {{ username }} --noclear tty1 linux
    dest: /etc/sv/agetty-tty1/run
    mode: '0755'
  tags: [base, autologin]

- name: Disable TTY 3-6
  file:
    path: "/var/service/agetty-tty{{ item }}"
    state: absent
  loop: [3, 4, 5, 6]
  tags: [base, tty]

- name: Enable base services
  file:
    src: "/etc/sv/{{ item }}"
    dest: "/var/service/{{ item }}"
    state: link
  loop:
    - chronyd
    - dbus
    - elogind
    - seatd
    - cronie
  tags: [base, services]

- name: SSH only on VMs
  file:
    path: /var/service/sshd
    state: "{{ 'link' if ansible_virtualization_role == 'guest' else 'absent' }}"
    src: "{{ '/etc/sv/sshd' if ansible_virtualization_role == 'guest' else omit }}"
  tags: [base, ssh]
